# Ignore SSH keys
*.pem
*.pub
*.crt
*.key
*.pfx

# Ignore Terraform state files and backups
*.tfstate
*.tfstate.*
*.backup*
*.lock*
sns.tf

# Ignore Terraform directories
.terraform/
.archived/

# Ignore environment variable files
*.tfvars


mealie-data/